<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autor }}</b></p>
    <div class="acoes">
        <button class="botao-editar" routerLink="/edit-thought/{{ pensamento.id }}">
            <img src="../../../../assets/icone-editar.png" alt="incone de editar">
        </button>

        <button class="botao-excluir" routerLink="/remove-thought/{{ pensamento.id }}">
            <img src="../../../../assets/icone-excluir.png" alt="incone de excluir">
        </button>
    </div>
</div>